<div class="container">
	<div class="row vert-offset-bottom-2 vert-offset-top-1">
		<div class="col-md-5 col-md-offset-1">
			<img src="{{toolCtrl.tool.image}}" class="img-responsive"></img>
		</div>
		<div class="col-md-5">
			<div class="row">
				<h2>{{toolCtrl.tool.name}}</h2>
			</div>
			<div class="row">
				<p align="justify">{{toolCtrl.tool.description}}</p>
			</div>
		</div>
	</div>
	<div class="row text-center" >
		<div class="col-md-10 col-md-offset-1" style="background-color: #3c464f; padding-left: 0 !important">
			<button class="btn btn-lg btn-custom" data-toggle="modal" data-target="#myModal" data-translate="button.addToList"></button>
		</div>
	</div>

	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2><p align="center">{{toolCtrl.tool.name}}</p></h2><br/>
					<div class="row">
							<div class="col-sm-2 col-sm-offset-2">
								<label class="control-label custom-form-align" data-translate="modal.label.addTo"></label>
							</div>
							<div class="col-sm-6">
								<ui-select data-ng-model="toolCtrl.addedTool.list" data-theme="bootstrap">
									<ui-select-match placeholder="Select a list...">{{$select.selected}}</ui-select-match>
									<ui-select-choices repeat="list in toolCtrl.userLists | filter: $select.search">
										<span data-ng-bind-html="list.name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-2 col-sm-offset-2 vert-align">
							<label class="col-sm-2 control-label custom-form-align" data-translate="modal.label.rating"></label>
						</div>
						<div class="col-sm-6 vert-align">
							<uib-rating class="uib-rating-padding" ng-model="toolCtrl.addedTool.rating" max="5" read-only="false" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-2 col-sm-offset-2">
							<label class="col-sm-2 control-label custom-form-align" data-translate="modal.label.review"></label>
						</div>
						<div class="col-sm-6">
							<uib-accordion>
								<uib-accordion-group is-open="status.open">
									<uib-accordion-heading>
										{{'modal.accordion.label' | translate}}
									</uib-accordion-heading>
									<textarea class="uib-accordion-text-input" data-ng-model="toolCtrl.addedTool.review" placeholder="Review goes here..."></textarea >
									</uib-accordion-group>
							</uib-accordion>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-2 col-xs-offset-4 col-centered">
							<button class="btn btn-custom" data-ng-click="toolCtrl.addTool()" data-translate="button.add"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>