body {
	background-color: #1b2127;
	color: #dbd9d9;
}

/* When selecting text */
::selection {
    background-color: #ba514d;
    color: #14181c;
}

::-moz-selection {
    background-color: #ba514d;
    color: #14181c;
}

/* Navigation bar */
.navbar-darkblue {
	background-image: none;
	background-color: #14181c;
}

/* Input box in the navigation */
.input-dark {
	background-color: #1c2a38;
	border-color: #283139 !important;
	border-radius: 0;
	color: #dbd9d9;
}

/* Class for centering a BS column */
.col-centered{
    float: none;
    margin: 0 auto;
}

/* Style for all buttons */
.btn-custom {
	background-image: none;
	background-color: #1c2a38;
	color: #dbd9d9;
	border-radius: 0;
	border: 1px solid #1c2a38;
	transition: 0.3s ease all;
}

.btn-custom:hover {
	box-shadow: inset 165px 0 0 0 #ba514d;
	color: #14181c;
}

.btn-custom:focus {
	color: #dbd9d9;
}

/* Pushes the site logo to the left */
.navbar-brand {
	padding: 0px 40px 0px 0px !important;
}

/* Vertically centers a smaller div relative to the bigger one next to it */
.vert-align {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

/* Overwrite the default blue links */
.pink-link, .pink-link:hover, .pink-link:active, .pink-link:focus{
	color: #ba514d;
	outline: 0;
	text-decoration: none;
	cursor: pointer;
}

/* Overwrite the default material modals*/
.md-toast-content {
	background-color: #ba514d !important;
}

/* Image style for the tool gallery */
.image-thumbnail {
	width: 110%;
	height: auto;
	transition: 0.4s ease all;
}

.img-profile {
	width: 100%;
	height: auto;
}

.image-thumbnail:hover {
    -webkit-filter:brightness(80%);
    -moz-filter:brightness(80%);
    filter: url(#brightness); /* required for FF */
    filter:brightness(80%);
	background-color: #ba514d;
}

/* Overwrite the default BS modal style */
.modal-header {
	border-bottom: 0;
}

.modal-content {
	border-radius: 0;
	background-color: #1c2a38;
	background-clip: border-box !important;
}

.close, .close:hover, .close:focus {
	color: #ba514d;
	opacity: 1;
	text-shadow: 0 0px 0 #fff;
}

/* Align label to the target */
.custom-form-align{
	padding-top: 6px !important;
}

/* Overwrite the default BS select style */
.form-control, .form-control:hover, .form-control:focus {
	background-image: none;
	border-color: #283139 !important;
	border-radius: 0;
	width: 100%;
}

.ui-select-match > .btn {
	color: #333333 !important;
}

.dropdown-menu {
	border-radius: 0;
}

.text-muted {
	color: inherit;
}

.uib-rating-padding {
	margin-top: 10px;
}

.panel-group {
	padding-left: 6px;
}

.panel, .panel-group {
	border-radius: 0 !important;
}

.panel-default {
	background-image: none !important;
}

.panel-heading {
	padding: 8px 10px;
}

.panel-title {
	font-size: 14px;
}

.uib-accordion-text-input {
	color: #333333 !important;
	border: 0;
	width: 100%;
	resize: none;
}

.col-tool-image {
	padding-right: 0;
	padding-left: 5px;
	padding-bottom: 5px;
}

.line-under-username {
	margin-top: 0;
}