<section id="login">
	<div class="container">
		<form role="form" autocomplete="off">
			<div class="row text-center">
				<div class="col-xs-4 col-centered">
					<div class="form-wrap">
						<h1 class="text-center">REGISTER</h1>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" name="email" id="email" data-ng-model="loginCtrl.user.email" class="form-control input-dark" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="key" class="sr-only">Username</label>
							<input type="username" name="key" id="key" data-ng-model="loginCtrl.user.username" class="form-control input-dark" placeholder="Username">
						</div>
						<div class="form-group">
							<label for="key" class="sr-only">Password</label>
							<input type="password" name="key" id="key" data-ng-model="loginCtrl.user.password" class="form-control input-dark" placeholder="Password">
						</div>
						<div class="form-group">
							<label for="key" class="sr-only">Repeat password</label>
							<input type="password" name="key" id="key" data-ng-model="loginCtrl.user.passwordRepeat" class="form-control input-dark" placeholder="Repeat password">
						</div>						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-xs-offset-4 col-centered">
					<input type="submit" id="btn-login" class="btn btn-custom btn-block" data-ng-click="registerCtrl.register()" value="Register">
				</div>
			</div>
		</form>
	</div>
</section>