<div class="container" data-se-loading="userCtrl.user">
	<div class="row">
		<div class="col col-md-2">
			<img src="images/no-profile-picture.png" class="img-responsive img-circle img-thumbnail img-profile"></img>
		</div>
		<div class="col col-md-3">
			<h3>{{userCtrl.user.username}}</h3>
			<hr class="line-under-username">
			Name: {{userCtrl.user.firstname}} {{userCtrl.user.lastname}}
		</div>
	</div>
</div>

<div id="fillInfoModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 data-translate="modal.body.greeting"></h3><br/>
				{{'modal.body.addInfo' | translate}}
				<a data-ng-click="userCtrl.goToSettings()" class="pink-link" data-translate="modal.body.link"></a><br/>
				{{'modal.body.addTool' | translate}}
				<a data-ng-click="userCtrl.goToTools()" class="pink-link" data-translate="modal.body.link"></a>
			</div>
		</div>
	</div>
</div>